<div id="album-details"
    data-role="view"
    data-layout="tabstrip-layout-backbutton"
    data-title="Album details"
    data-model="app.albumDetailsService.viewModel"
    data-show="app.albumDetailsService.show">

    <div class="view-content">
        <p>
            To share this album, give your friends the following code:<br />
            <span class="bold" data-bind="text: shareCode"></span>
            <br />
            They have to tap on the "Add existing album" button and enter your code.
        </p>
        <div class="buttonArea">
            <a id="view-pictures" data-role="button" data-bind="click: onViewPictures" class="simple-button first-button">View pictures</a>
            <a id="take-picture" data-role="button" data-bind="click: onTakePicture" class="simple-button">Take new picture</a>
        </div>
    </div>
</div>

